$pink: #ec407a;
$grey: #8892b0;

.Home {
  width: 100%;
  padding: 0 1.5rem;

  &-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    padding-top: 3rem;

    @media (max-height: 700px) {
      height: 100%;
      padding-top: 4.7rem;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .left {
      @media (min-width: 1024px) {
        flex: 1.8;
      }
      @media (min-width: 1280px) {
        flex: 2;
      }
    }
  }

  &-hello {
    font-weight: bold;
    margin-top: 1rem;
    color: $pink;
  }

  &-name {
    font-weight: bold;
    color: #ccd6f6;
    font-size: 2.25rem;
    line-height: 2.5rem;

    @media (min-width: 640px) {
      font-size: 2rem;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
      margin: 0.5rem 0;
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
      margin: 1rem 0;
    }

    @media (min-width: 1280px) {
      font-size: 4rem;
    }
  }

  &-title {
    font-weight: bold;
    color: $grey;
    font-size: 2.25rem;
    line-height: 2.5rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1280px) {
      font-size: 3rem;
      line-height: 3.2rem;
    }

    @media (min-width: 1536px) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &-pres {
    font-size: 1.1rem;
    color: $grey;
    max-width: 700px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-btn {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: max-content;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: $pink;
      border-color: $pink;

      .Home-arrow {
        transform: rotate(90deg);
      }
    }
  }

  &-arrow {
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s;

    svg {
      margin-left: 0.75rem;
    }
  }

  .hero-img {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(src/assets/photo_cv.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    height: 18rem;
    width: 18rem;

    @media (min-width: 1280px) {
      margin-right: -2rem;
      flex: 1.5;
    }

    @media (min-width: 1024px) {
      margin-left: 1rem;
    }
  }

  @media (min-width: 500px) {
    .hero-img {
      height: 25rem;
      width: 25rem;
    }
  }

  @-webkit-keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    to {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    to {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }
}
